{% extends "store/base.html" %}
{% load static %}

{% block title %}About copmany{% endblock %}

{% block head %}
    <meta name="description" content="Информация про компанию">
    <meta name="author" content = "Egor Savonchik">
    <link href="{% static "css/about_company.css" %}" rel="stylesheet">
{% endblock %}

{% block header %}
   <section id="top" style="height: 600px;">
        <img src="https://aryan-tayal.github.io/Mountains-Parallax/bg.jpg" id="bg" />
        <h2 id="text">Mountains</h2>
        <img src="https://aryan-tayal.github.io/Mountains-Parallax/man.png" id="man" />
        <img src="https://aryan-tayal.github.io/Mountains-Parallax/clouds_1.png" id="clouds_1" />
        <img src="https://aryan-tayal.github.io/Mountains-Parallax/clouds_2.png" id="clouds_2" />
        <img src="https://aryan-tayal.github.io/Mountains-Parallax/mountain_left.png" id="mountain_left" />
        <img src="https://aryan-tayal.github.io/Mountains-Parallax/mountain_right.png" id="mountain_right" />
      </section>
{% endblock %}
{% block content %}
<main class="sec">
    <h1>About company</h1>
    <p><dfn translate="no" class="company-name"> Savonchik chemistry</dfn> - a young company specializing in the sale of household chemicals</p>
    <h2>Company videos</h2>
    <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/C32v0SOziEg?si=BK4QeFgPg0Y6UZBW?autoplay=0&controls=0&showinfo=0&rel=0" 
        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
        gyroscope; picture-in-picture; web-share" allowfullscreen>
    </iframe>
    <h2>History by year</h2>
    <ul class="history">
    {% for event in history %}
        <li class="history-item">
            <p class="history-year">{{ event.year }}</p>
            <p class="history-description">{{ event.event }}</p>
        </li>
    {% endfor %}
    </ul>

    <h2>Requisites</h2>
    <section>
        <p class="requisite">МТС: +375 (33)3-022-482</p>
        <p class="requisite">email: egorsavonchik1@gmail.com</p>
    </section>
    <h2>Logo</h2>
    <img class="logotip" src="{% static "img/logotip.jpg" %}" title = "Логотип компании" height="200" width="200">
    <h2>Certificate</h2>
    <section class="sertificate">
        <h3>Сертификат</h3>
        <p>ООО «Приносим радость»</p>
        <p>Юридический адрес: 220073, Республика Беларусь, г. Минск, ул. Смолячкого, д. 40, кв. 26, каб. 2</p>
        <p>УНП 193067319</p>
        <p>Адрес для почтовых отправлений: 220117, а/я 162.</p>
        <p>Свидетельство о государственной регистрации №193067319 от 19 апреля 2018 г. выдано Минским горисполкомом</p>
        <p>Зарегистрировано Министерством информации Республики Беларусь 11 мая 2018 г. в Государственном реестре изготовителей и распространителей бытовой химии изданий Республики Беларусь в качестве распространителя бытовой химии за №3/1656</p>
        <p>Зарегистрирован в Торговом реестре Республики Беларусь 31 мая 2018 г. за №416870</p>
    </section>
    <script src="{% static "js/scroll.js" %}"></script>
</main>
{% endblock %}