{% extends "store/base.html" %}
{% load static %}

{% block title %}Contacts{% endblock %}

{% block head %}
    <meta name="description" content="Список контактов работников">
    <meta name="author" content = "Egor Savonchik">
    <link href="{% static "css/contacts.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<main>
    <h2>Workers info</h2>
    <section class="workers-list">
    {% for worker in workers %}
        <section class="worker">
            <img class="worker-img" src = "{{ worker.image.url }}" width="200" height="200" title="Фото сотрудника">
            <p>{{ worker.worker.first_name }} {{ worker.worker.last_name }}</p>
            <p>{{ worker.description }}</p>
            <p>Mail: {{ worker.worker.email }}</p>
            <p>Phone number: {{ worker.worker.phone_number }}</p>
        </section>
    {% endfor %}
    </section>
</main>
{% endblock %}