{% extends "store/base.html" %}
{% load static %}

{% block title %}FAQ{% endblock %}

{% block head %}
    <meta name="description" content="Список часто задаваемых вопросов с ответами">
    <meta name="author" content = "Egor Savonchik">
    <link href="{% static "css/frequently_questions.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<main> 
    <h2>Popular question</h2>
    {% for question in questions %}
        <details>
            <summary>
                <p class="title">{{ question.question }}</p>
                <p class="date">{{ question.date_of_creation }}</p>
            </summary>
            <p>{{ question.answer }}</p>
        </details>
        <p></p>
    {% endfor %}
</main>
{% endblock %}