{% extends "store/base.html" %}
{% load static %}

{% block title %}Home page{% endblock %}

{% block head %}
    <meta name="description" content="главная страница магазина">
    <meta name="author" content = "Egor Savonchik">
    <link href="{% static "css/home_page.css" %}" rel="stylesheet">
    <link href="{% static "css/news.css" %}" rel="stylesheet">
{% endblock %}



{% block content %}
<section style="background: none;">
    <div class="container">
      <h2 class="main-title">Explore.</h2>
      <img src="https://i.ibb.co/rsp6RFJ/bg1.png" class="background" alt="" />
      <img src="https://i.ibb.co/237VsHs/girl1.png" class="girl" alt="" />
      <img src="https://i.ibb.co/BKtjhV2/rock1.png" class="rock" alt="" />
    </div>
    <div class="content">
      <div class="content-images">
        <div>
          <img src="https://i.ibb.co/w4N157P/haridwar.jpg" alt="" />
          <h4>Haridwar</h4>
          <h3>India</h3>
        </div>
        <div>
          <img src="https://i.ibb.co/v4yCXYS/rishikesh.jpg" alt="" />
          <h4>Rishikesh</h4>
          <h3>India</h3>
        </div>
      </div>
      <div>
        <main>
            <h2>Last news</h2>
            <article class="position-object">
                <p>{{ latest_article.title }}</p>
                <p>{{ latest_article.short_argument }}</p>
                <img src="{{ latest_article.image.url }}" width="250" height="250"><br>
                <a href="article/{{ latest_article.id }}"><small>read more</small></a>
            </article>
            <h2>About partners</h2>
            {% for partner in partners %}
                <div class="partner-container">
                    <a href="{{ partner.link }}">{{ partner.partner_name }}</a>
                    <p>{{ partner.description }}</p>
                    <img src="{{ partner.image.url }}" width="200" height="200">
                </div>
            {% endfor %}
            <h2>Advertisement block</h2>
        </main>
        <aside>
        {% for adv in advertisement %}
            <div class="banner">
                <a href="{{ adv.link }} ">
                    <img class="animated-object" src = "{{ adv.image.url }}" width="200" height="200">
                </a>
            </div>
        {% endfor %}
        </aside>
        <script>
            window.time = '{{time}}';
        </script>
        {%if user.is_superuser%}
        <form method="POST">
            {% csrf_token %}
            <label for="interval">Интервал (в секундах):</label>
            <input type="number" id="interval" value="5" name="time">
            <input type="submit">
        </form>
        {% endif %}
        <script src="{% static 'js/banner.js' %}"></script>
      </div>
    </div>
</section>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"
    integrity="sha512-cdV6j5t5o24hkSciVrb8Ki6FveC2SgwGfLE31+ZQRHAeSRxYhAQskLkq3dLm8ZcWe1N3vBOEYmmbhzf7NTtFFQ=="
    crossorigin="anonymous"
  ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/animation.gsap.js"></script>
  <script src="{% static "js/home_scroll.js" %}"></script>
{% endblock %}