{% extends "store/base.html" %}
{% load static %}

{% block title %}Reviews{% endblock %}

{% block head %}
    <meta name="description" content="Отзывы на сайт">
    <meta name="author" content = "Egor Savonchik">
    <link href="{% static "css/reviews.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<main>
    {% for review in reviews %}
        <section class="review">
            <h3>{{ review.title }}</h3>
            <p>{{ review.text }}</p>
            <p>
                {% for i in "x"|rjust:review.gradle %}
                    ★
                {% endfor %}
            </p>
            <p>{{ review.owner.first_name }}</p>
            <p>{{ review.date_of_creation }}</p>
        </section>
    {% endfor %}
    
    {% if user.is_authenticated %}
        <a class="ref-button" href="{% url 'login:personal_account' %}">Create review</a>
    {% else %}
        <a class="ref-button" href="{% url 'login:register' %}">Create review</a>
    {% endif %}
</main>
{% endblock %}